

.comment-wrapper .panel-body body,body{margin-top:20px}.comment-wrapper .panel-body body .panel-body{max-height:650px;overflow:auto}.comment-wrapper .panel-body body .media-list .media{border-bottom:1px dashed #efefef;margin-bottom:25px}.comment-wrapper .panel-body body .media-list .media img{width:64px;height:64px;border:2px solid #e5e7e8}
