<div class="row bootstrap snippets">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Comment panel
                </div>
                <div class="panel-body">
                    <div data-component="form">{{form}} </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div data-component="feed">{{comments}}</div>
                </div>
            </div>
        </div>

    </div>
</div>