<li class="media" id = "{{id}}">
    <a href="#" class="pull-left">
        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
    </a>
    <div class="media-body">
        <span class="text-muted pull-right">
            <small class="text-muted">{{time}}</small>
        </span>
        <strong class="text-success">{{name}}</strong>
        <p>
            {{text}}
        </p>
        <span class="text-muted pull-right">
            <button type="button" id="remove-comment">Remove</button>
            <button type="button" id="reply-comment">Reply</button>
        </span>
    </div>
</li>